{
  "extends": "airbnb-base",
  "rules" : {
    "no-underscore-dangle":["error", { "allow": ["_id"] }],
    "quotes": "off",
    "trailing-comma": "off",
    "no-useless-escape": "off",
    "linebreak-style": 0,
    "func-names": "off",
  }
}